/* ========================================
  Gruppe video 
======================================== */
.video-section {
  background-color: #eef4fb;
}

/* ========================================
   GRUPPEVIDEO – PLASSERING OG VIDEOSPILLER
======================================== */

.group-video {
  width: 100%;
  padding: 35px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e4effc;

  box-sizing: border-box;
}

.group-video video {
  width: min(900px, 90vw);
  height: auto;

  display: block;

  border-radius: 16px;
}

/* ========================================
   GRUPPEVIDEO – OVERSKRIFT OG BESKRIVELSE
======================================== */

.video-placeholder {
  text-align: center;
  color: black;
}

.video-placeholder h2 {
  margin-bottom: 10px;
  font-size: clamp(2.5rem, 6vw, 5rem);
}

.video-placeholder p {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

